<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Aplicação</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="submenu" @onclick="()=>expandSubMenu= !expandSubMenu" >
                <span class="oi oi-graph" aria-hidden="true"></span> Controlo Zona
            </NavLink>
            @if (expandSubMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="dadoszonaspassagens" style="font-size:10px;">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Passagens 
                        </NavLink>
                    </li>
                     <li class="nav-item px-3">
                        <NavLink class="nav-link" href="dadosparques" style="font-size:10px;">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Parques 
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="dadosroubo" style="font-size:10px;">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Roubos por zona
                        </NavLink>
                    </li>
                </ul>

            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubMenu2= !expandSubMenu2" href="dadosatmlast24hour">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Controlo Atmosférico
            </NavLink>
            @if (expandSubMenu2)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="dadosatmlastmonth" style="font-size:10px;">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Último mês
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="dadosatmlast24hour" style="font-size:10px;">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Último dia
                        </NavLink>
                    </li>
                </ul>

            }
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;
    private bool expandSubMenu2;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
