@page "/dadoszonaspassagens"
@using System;
@using System.Diagnostics;
@using System.Threading;
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using IOT_Data.Models
@using Monitor_Business.DTO
@inject NavigationManager NavigationManager
@inject IZoneBusiness funcoes
@using Monitor_Business.interf

<div class="control-section">
    <SfChart Title="Número de carros por zona">
        <ChartPrimaryXAxis Title="ID da zona" ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
            <ChartPrimaryYAxis Title="Número de carros"></ChartPrimaryYAxis>
        </ChartPrimaryXAxis>
        <ChartSeriesCollection>
            <ChartSeries Type="ChartSeriesType.Column" DataSource="@veiculosZona"
                         YName="Vehicles" XName="Zone">
                <ChartMarker>
                    <ChartDataLabel Visible="true"> </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>
@code {
    private Theme Theme { get; set; }
    SfChart Chart;
    private List<NumberVehicleZoneDTO> veiculosZona;

    protected override async Task OnInitializedAsync()
    {
         veiculosZona= funcoes.NumberVehicleZone();

    }

    

}
