@page "/submenu"
<div class="container-fluid">
	<div class="row">
        <div class="col-md-6">
            <h2 style="text-align: center;">
                Furtos automóveis
            </h2>

            <p>
                <img alt="Bootstrap Image Preview" style="
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                " src="css/images/furtos.png" />
            </p>
            <p>
                Com a secção furto de automóveis podemos verificar o número de assaltos que ocorreram em cada zona, deste modo, conseguimos comparar dados entre zonas.
            </p>
            <p>
                <a class="btn" href="dadosroubo">Abrir »</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">
                Número de Passagens
            </h2>

            <p>
                <img alt="Bootstrap Image Preview" style="
                width: 90%;
                display: block;
                margin-left: auto;
                margin-top:90px;
                margin-right: auto;" src="css/images/passagens.png" />
            </p>
            <p>
                Com a secção número de passagens podemos verificar a quantidade de carros que passa numa determinada zona. 
            </p>
            <p>
                <a class="btn" href="dadospassagens">Abrir»</a>
            </p>
        </div>
	</div>
</div>