@page "/submenu"

@using IOT_Data.Models
@using Monitor_Business.interfaces
@using Monitor_Business.DTO
@inject IZoneBusiness funcoes
<div class="container-fluid">
	<div class="row">
        <div class="col-md-4">
            <h2>
                Dados Atmosféricos
            </h2>
            <p>
                <img alt="Bootstrap Image Preview" style="
                
                display: block;
                margin-left: auto;
                margin-right: auto;
                width:100%" src="css/images/dadosatm.png" />
            </p>
            <p>
                Na secção dados atmosféricos é possivel tirarmos conlusões  relativamente aos gases poluentes de uma determinada zona.
                Deste modo, com o gráfico fornecido é possivel fazermos uma análise de dados ao longo dos anos.
            </p>
            <p>
                <a class="btn" href="dadosatm">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Furtos automóveis
            </h2>

            <p>
                <img alt="Bootstrap Image Preview" style="
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                " src="css/images/furtos.png" />
            </p>
            <p>
                Com a secção furto de automóveis podemos verificar o número de assaltos que ocorreram em cada zona, deste modo, conseguimos comparar dados entre zonas.
            </p>
            <p>
                <a class="btn" href="dadosfurtos">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Heading
            </h2>

            <p>
                <img alt="Bootstrap Image Preview" style="
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;" src="css/images/passagens.png" />
            </p>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
	</div>
</div>
@code {
    private List<SensorDTO> zones = new List<SensorDTO>();

    protected override async Task OnInitializedAsync()
    {

        var rng = new Random();
        var test = new List<SensorDTO>();

        for (int i = 0; i < 8; i++)
        {
            test.Add(new SensorDTO
            {
                ZonaId = i,
                NumberSensor = rng.Next(5, 20)
            });
        }
        zones = test;


        //zones=funcoes.GetZoneNumberSensor();

    }
}
